.banners {
  &__container {
    padding: 30px 0;

    @include xs {
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 0.6%;
    margin: 0 20px;

    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-shrink: 0;
    width: 30%;

    @include md {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.banners-article {
  padding: 54px 35% 54px 60px;
  min-height: 290px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e9e4df;

  &-midseason {
    background-image: url(../img/midseason.jpg);
  }
  &-summer {
    background-image: url(../img/summer.jpg);
  }
  &-accs {
    background-image: url(../img/accs.jpg);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }

  @include md {
    padding: 50px 20px;
  }

  @include sm {
    padding-right: 200px;
  }
}
