.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    padding: 36px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__shop-nav {
    margin-left: 200px;
  }

  &__logo {
    font-size: 1.3rem;
  }
}

.catalog-header {
  padding-top: 38px;
}

.free-delivery {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 121;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  text-transform: uppercase;
  font-size: 10px;
  color: var(--light-color);
  background-color: #111;

  &__btn {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
  }

  svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: #fff;
  }
}

.card-page {
  .header {
    padding-top: 0;
  }
}
