.hero {
  position: relative;
  height: 1080px;
  min-height: 700px;
  background-color: var(--quill-gray);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($color: #000000, $alpha: 0.05);
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    max-width: 550px;
    margin-bottom: 40px;
  }

  &__desc {
    margin: 0;
    font-size: 18px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;

    max-height: 80%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0 260px;
  }
}

.banner-slider {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .swiper-slide {
    height: 100%;
  }
}

//TODO Problem with margin
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 12px;
}

.banner-pag {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: var(--light-color);
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    position: relative;

    background-color: var(--color-dark);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      background-color: var(--light-color);
      transform: translate(-50%, -50%);
    }
  }
}

.marketing {
  position: absolute;
  bottom: 50px;
  left: 15px;
  z-index: 10;

  display: flex;
  padding: 10px;
  width: 280px;

  background-color: var(--light-color);
  box-shadow: 0 5px 30px rgba($color: #000000, $alpha: 0.1);

  opacity: 0;
  transition: opacity 0.5s;

  &--visible {
    opacity: 1;
  }

  &__image {
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-left: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    padding-right: 30px;
    min-height: 34px;
    font-size: 15px;
    font-weight: 500;
  }

  &__desc {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    color: var(--grey-color);
  }

  &__when-from {
    display: block;
    font-size: 11px;
    color: var(--grey-color);
    padding-right: 40px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    background-image: url(../img/close.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
