.nav {
  &__list {
    display: flex;
    column-gap: 42px;
  }

  &__link {
    position: relative;
    font-size: 1rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: var(--color-dark);

      transition: width 0.33s;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: width 0.33s;
      }
    }

    &--current {
      &::before {
        width: 100%;
        transition: width 0.33s;
      }
    }
  }
}
