.product {
  position: relative;
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px;
    color: var(--tundora-color);

    a {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  &__price {
    font-weight: 700;
    font-size: 13px;
  }

  &__image {
    margin-bottom: 20px;

    img {
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 30px;
  }
}
