.shop-banners {
  &__container {
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
    }
  }
}

.shop-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 100px 20px;
  background-color: var(--color-dark);
  color: var(--light-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #d70808, $alpha: 0.1);
  }

  &__text,
  &__title {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 48px;

    @include md {
      font-size: 40px;
      margin-bottom: 10px;
    }

    @include sm {
      font-size: 29px;
    }
  }

  &--men {
    background-image: url(../img/banner-1.jpg);
  }

  &--women {
    background-image: url(../img/banner-2.jpg);
  }

  @include xs {
    width: 100%;
    min-height: 250px;
  }
}
