<div class="card-top">
  <div class="container container-narrow">
    <div class="card-top__left">
      <div class="card-slider">
        <div class="card-slider__thumbs">
          <div class="card-slider__thumb">
            <img src="img/1.png" alt="img" />
          </div>
          <div class="card-slider__thumb">
            <img src="img/1.png" alt="img" />
          </div>
          <div class="card-slider__thumb">
            <img src="img/1.png" alt="img" />
          </div>
          <div class="card-slider__thumb">
            <img src="img/1.png" alt="img" />
          </div>
          <div class="card-slider__thumb">
            <img src="img/1.png" alt="img" />
          </div>
        </div>
        <div class="card-slider__main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/card-main.jpg" alt="card-main" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-top__right">
      <div class="card-info">
        <span class="card-info__prop"> Best Seller </span>
        <h3 class="card-info__title">Band collar popover tunic</h3>
        <div class="card-info__rate">
          <img src="img/stars.png" alt="starts rate" />
          <span>2 Reviews</span>
        </div>
        <div class="card-info__price info-price">
          <div class="info-price__current">$128.00</div>
          <div class="info-price__old">$165.00</div>
        </div>
        <p class="card-info__desc">
          We love the dramatic ruffle details down the sleeve, delicate fabric
          buttons and polished cuffs
        </p>
        <div class="card-info__select color-select">
          <span class="color-select__selected">Color: Green</span>
          <ul class="color-select__list">
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
            <li class="color-select__item">
              <button
                class="color-select__btn btn-reset"
                aria-label="red color"
              ></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
