<div class="card-content__bottom">
  <div class="card-bottom-content">
    <div class="container container-narrow">
      <div class="card-desc">
        <div class="card-desc__left" data-simplebar>
          <ul class="card-desc__nav">
            <li class="card-desc__item">
              <a href="#one" class="card-desc__link card-desc__link--active">Description</a>
            </li>
            <li class="card-desc__item">
              <a href="#two" class="card-desc__link">Additional information</a>
            </li>
            <li class="card-desc__item">
              <a href="#three" class="card-desc__link">Reviews (2)</a>
            </li>
            <li class="card-desc__item">
              <a href="#four" class="card-desc__link">Description</a>
            </li>
          </ul>
        </div>
        <div class="card-desc__right">
          <div class="card-desc__content card-desc__content--active" data-target="#one">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor ullam architecto, commodi iste
              minima et aperiam magnam explicabo provident culpa, praesentium asperiores aut perspiciatis a ea, quam
              deserunt tempora.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ab aliquid animi, dolores sequi quibusdam,
              laboriosam adipisci beatae voluptatem maxime quia nulla quod. Nostrum tempore in maiores dignissimos
              consequatur culpa?
            </p>
          </div>
          <div class="card-desc__content" data-target="#two">
            <p>
              Test2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor ullam architecto, commodi
              iste minima et aperiam magnam explicabo provident culpa, praesentium asperiores aut perspiciatis a ea,
              quam deserunt tempora.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ab aliquid animi, dolores sequi quibusdam,
              laboriosam adipisci beatae voluptatem maxime quia nulla quod. Nostrum tempore in maiores dignissimos
              consequatur culpa?
            </p>
          </div>
          <div class="card-desc__content" data-target="#three">
            <p>
              Test3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor ullam architecto, commodi
              iste minima et aperiam magnam explicabo provident culpa, praesentium asperiores aut perspiciatis a ea,
              quam deserunt tempora.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ab aliquid animi, dolores sequi quibusdam,
              laboriosam adipisci beatae voluptatem maxime quia nulla quod. Nostrum tempore in maiores dignissimos
              consequatur culpa?
            </p>
          </div>
          <div class="card-desc__content" data-target="#four">
            <p>
              Test4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor ullam architecto, commodi
              iste minima et aperiam magnam explicabo provident culpa, praesentium asperiores aut perspiciatis a ea,
              quam deserunt tempora.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ab aliquid animi, dolores sequi quibusdam,
              laboriosam adipisci beatae voluptatem maxime quia nulla quod. Nostrum tempore in maiores dignissimos
              consequatur culpa?
            </p>
          </div>
        </div>
      </div>
      <div class="card-related">
        <h2 class="card-related__title">Related Products</h2>
        <div class="card-related__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$245.00</span>
                  </div>

                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to cart</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="./img/prod-1.jpg" alt="prod 1" />
                </div>
                <span class="product__prop product-prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="">Eye Mesh Boat Shoes</a>
                </h3>
                <span class="product__price">$220.00</span>
                <span class="product__oldprice">$245.00</span>
              </article>
            </div>
          </div>
          <div class="swiper-pagination related-pag"></div>
        </div>
      </div>
    </div>
  </div>
</div>
