<header class="header">
  <div class="container header__container">
    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Shope</a></li>
        <li class="nav__item">
          <a class="nav__link nav__link--current">Elements</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Page</a></li>
      </ul>
    </nav>

    <a href="#" class="logo header__logo" aria-label="logo">TARANVD</a>

    <ul class="shop-nav header__shop-nav">
      <li class="shop-nav__item">
        <a
          class="shop-nav__link shop-nav_link--user"
          href="#"
          aria-label="go to cabinet"
        >
          <i class="ri-user-line"></i
        ></a>
      </li>

      <li class="shop-nav__item">
        <a class="shop-nav__link find" href="#" aria-label="go to ">
          <form class="shop-nav__search-form">
            <button
              class="search-form_btn btn-reset ri-search-line"
              aria-label="find"
            ></button>
          </form>
        </a>
      </li>

      <li class="shop-nav__item">
        <a class="shop-nav__link cart" href="#" aria-label="go to ">
          <i class="ri-shopping-bag-line"></i>
          <span class="shop-nav__quantity">3</span></a
        >
      </li>
    </ul>
  </div>
</header>
