<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Zonex - best shop</h1>

    <div class="banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearnce Sales</h2>
            <p class="hero__desc">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img class="hero__image" src="./img/girl.png" alt="girl" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearnce Sales</h2>
            <p class="hero__desc">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img class="hero__image" src="./img/girl.png" alt="girl" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearnce Sales</h2>
            <p class="hero__desc">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img class="hero__image" src="./img/girl.png" alt="girl" />
          </div>
        </div>
      </div>
      <div class="swiper-pagination banner-pag"></div>
    </div>

    <div class="marketing">
      <div class="marketing__image">
        <img src="./img/product-image.jpg" alt="product 1" />
      </div>
      <div class="marketing__text">
        <span class="marketing__desc">Someone purchaed a</span>
        <h3 class="marketing__title">Faux shearing double-brested coat</h3>
        <span class="marketing__when-from"
          >15 minutes ago London, Great Britain</span
        >
      </div>
      <button
        class="btn-reset marketing__close"
        aria-label="closed marketing block"
      ></button>
    </div>
  </div>
</section>
